
body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
        }

        .left {
            text-align: center;
        }

        .right {
            text-align: center;
        }

       .right form{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 450px;
    margin-top: 70px;
    display: inline-block;
}




input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #1877f2;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: #1877f2;
}

.signup {
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
